@import "tailwindcss";

@theme {
  /* Colores principales de tu marca o proyecto */
  --color-primario: #0284c7;       /* Celeste principal (sky-600) */
  --color-primario-hover: #0369a1; /* Celeste más oscuro (sky-700) */
  --color-secundario: #38bdf8;     /* Celeste claro (sky-400) */
  --color-exito: #10b981;          /* Verde para mensajes de éxito */
  --color-error: #ef4444;          /* Rojo para mensajes de error */
  
  /* Color de fondo claro */
  --color-fondo-claro: #f0f9ff;
}


html, body {
  background: linear-gradient(135deg, #e0f2fe 0%, #f8fafc 100%);
  color: #1e293b;
  min-height: 100vh;
}