@import "tailwindcss";

@theme {
  /* Colores principales de tu marca o proyecto */
  --color-primario: #1d4ed8;       /* Un azul fuerte */
  --color-primario-hover: #1e40af; /* Azul más oscuro para estados hover */
  --color-secundario: #0ea5e9;     /* Un celeste o azul claro */
  --color-exito: #16a34a;          /* Verde para mensajes de éxito */
  --color-error: #dc2626;          /* Rojo para mensajes de error */
  
  /* Puedes agregar lo que quieras, por ejemplo, fuentes o fondos */
  --color-fondo-oscuro: #0f172a;
}


html, body {
  background-color: var(--color-fondo-oscuro);
}